body{
    max-width: 100%;
    max-height: auto;
    text-align: center;
    margin: 0 auto;

}
img {
    padding: 500px 500px 500px 500px;
    display: block;
    max-width: 500px;
    max-height: auto;
}
h1{
    font-size: 75px;
    font-weight: light;
    font-family: lugrasimo;
    text-align: center;
}
